@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Averta";
    font-weight: 400;
    src: url("../src/fonts/AvertaStd-Regular.otf");
  }
  @font-face {
    font-family: "Averta";
    font-weight: 600;
    src: url("../src/fonts/AvertaStd-Semibold.otf");
  }
  @font-face {
    font-family: "Averta";
    font-weight: 700;
    src: url("../src/fonts/AvertaStd-Bold.otf");
  }
  html {
    scroll-behavior: smooth;
  }
  
  .btn-primary {
    @apply py-4 px-12 rounded-md bg-white border border-white text-black font-semibold;
  }
  .btn-secondary {
    @apply py-4 px-12 rounded-md bg-[#121315] border border-white text-white font-semibold;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
